#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        new_combo {
            bindings = <&kp ESC>;
            key-positions = <30 31>;
        };

        new_combo {
            bindings = <&kp DELETE>;
            key-positions = <32 33>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        cond_layer_mgmt {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
      &kp Q       &kp W        &kp F        &kp P      &kp B         &kp J            &kp L        &kp U       &kp Y    &kp APOS
 &mt LGUI A  &mt LALT R  &mt LCTRL S  &mt LSHFT T      &kp G         &kp M      &mt LSHFT N  &mt LCTRL E  &mt LALT I  &mt LGUI O
      &kp Z       &kp X        &kp C        &kp D      &kp V         &kp K            &kp H    &kp COMMA  &kp PERIOD   &kp SLASH
                                      &lt 1 SPACE  &lt 2 TAB  &lt 3 RETURN  &lt 4 BACKSPACE
            >;
        };

        Nav {
            bindings = <
  &none   &none   &none   &none   &none    &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_PASTE
    &kp     &kp     &kp     &kp   &none  &kp CAPSLOCK     &kp LEFT    &kp DOWN     &kp UP    &kp RIGHT
  &none   &none   &none   &none   &none           &kp          &kp         &kp        &kp          &kp
                          &none   &none           &kp          &kp
            >;
        };
    };
};
